.Axios {
    text-align: center;
  }
  
  .Axios-header {
    background-color: #222;
    height: 70px;
    padding: 20px;
    color: white;
  }
  
  .Axios-title {
    font-size: 1.5em;
  }

 